.pageLink {
  color: #9484f6;
  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;

  border: 1px solid #9484f6;
}

.pagination {
  display: flex;
  gap: 5px;
}

.active {
  border-radius: 6px;
  background-color: #9484f6;

  .pageLink {
    color: white;
  }
}
