.drop {
  position: relative;
  // top: 80px;
  background-color: transparent;
  right: 0;
  left: 0;
  // padding: 10px;
  border-radius: 10px;
  z-index: 103;
}
.overlay {
  z-index: 101;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.list {
  height: 200px;
  overflow-y: auto;
  background-color: var(--lightGray);
  border-radius: 0.5rem;
  position: absolute;
}
.close {
  position: absolute;
  right: 8px;
  top: 41%;
  z-index: 10;
  transform: translateY(-50%);
}
